@import '~bootstrap/scss/bootstrap';


.glass{
background: rgba(47, 230, 201, 0.52) !important;
border-radius: 16px !important ;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
backdrop-filter: blur(3.1px) !important;
-webkit-backdrop-filter: blur(3.1px) !important;
border: 1px solid rgba(47, 230, 201, 0.42) !important;

};

.glass:hover{
   color: red;
}